.block {
  --block-hue: 0;
  --block-saturation: 50%;
  --block-lightness: 50%;

  background-color: hsl(var(--block-hue), var(--block-saturation), var(--block-lightness));

  &--active {
    --block-saturation: 75% !important;
    --block-lightness: 50% !important;
  }
}