.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;

  &__cell {
    position: relative;
  }

  &__motion {
    position: absolute;
    top: 0;
  }

  &__debug {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: black;
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px;
    font-size: 10px;
  }
}
